/*
    Document   : dedicatedmanager
    Created on : 24 avr. 2012, 08:54:22
    Author     : Nadeo
    Description:
        Purpose of the stylesheet follows.
*/
root {
    display: block;
}

img.map-thumbnail {
	width: 50px;
	height: 50px;
	margin-right: 10px;
	vertical-align: middle;
}

/*
 * Used for tree state checkbox
*/
.someSelected {
    opacity: 0.5;
    filter: alpha(opacity=50);
}